<!-- <a id="nav-primary__menu-toggle" class="nav-primary__menu-toggle">Menu</a>
<nav role="navigation" class="nav-primary">
  <div id="menu-1" class="nav-primary__menu">
    {% for page in site.pages | sort:weight %}
      {% if page.title %}
        <a class="nav-primary__page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</nav> -->

<a id="nav-primary__menu-toggle" class="nav-primary__menu-toggle"><i class="icon-ellipsis-horizontal"></i></a>
<nav role="navigation" class="nav-primary">
  <div id="menu-1" class="nav-primary__menu">
    <a class="nav-primary__page-link" href="{{ site.baseurl }}/#work">Work</a>
    <a class="nav-primary__page-link" href="{{ site.baseurl }}">About</a>
  </div>
</nav>