<nav role="navigation" class="nav-primary">
  <div class="wrapper nav-primary__menu">
    <div class="nav-primary__menu--col-1">
	    <p class="menu-link"><a class="wrapper nav-primary__page-link nav-primary__page-link--header" href="{{ site.baseurl }}/#work">Work</a></p>
	    {% for post in site.posts %}
		  <p class="menu-link"><a class="wrapper nav-primary__page-link" href="{{ post.url }}">{{ post.title }}</a></p>
		{% endfor %}
    </div>
    <div class="nav-primary__menu--col-2">
    	<p class="menu-link"><a class="wrapper nav-primary__page-link nav-primary__page-link--header" href="{{ site.baseurl }}/">About</a></p>
    </div>
  </div>
</nav>