// Site Header
.site-header__wrapper{
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid lighten($grey-color, 30%);

    background: $background-color;

    @media (min-width: 768px) {
        border-bottom: none;
    }
}
.site-header {
    font-family: $secondary-font-family;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 0.7em;
    line-height: $spacing-unit * 2;
    text-transform: uppercase;
    min-height: $spacing-unit * 2;

    // Positioning context for the mobile navigation icon
    position: fixed;
    position: relative;

    @media (min-width: 768px) {
        line-height: $spacing-unit * 1.875;
    }
}
.site-title {
    margin-bottom: 0;
    float: left;
    border-bottom: none;

    &,
    &:visited {
        color: $text-color;
    }
}
.site-title__logo--retina{
    padding-right: 0.5em;
}
    // Headroom Styles
.headroom, .headroom--top{
    transition: top 0.3s ease;
}

.headroom--pinned{
    top: 0;
}

.headroom--pinned, .headroom--not-top{
    background: $background-color;
    border-bottom: 1px solid $grey-color-light;
    z-index: 999;
}

.headroom--unpinned{
    top: -4rem;
    border-bottom-width: 4px;
}

.headroom--top{

    @media (min-width: 768px) {
    border-bottom: none;
    }
}



// Primary Navigation
.nav-primary__menu-toggle {
    float: right;
    border-bottom: none;
    margin-right: 3%;

    @media (min-width: 768px) {
    display: none;
    }
}
.nav-primary{
    position: absolute;
    right: $spacing-unit / 2;
    left: 0;
    top: $spacing-unit * 2;
    width: 100%;

    background: $background-color;

    @media (min-width: 768px) {
        position: relative;
        right: initial;
        top: initial;
        width: auto;
        float: right;

    }
}
.nav-primary__menu{
    display: none;

    @media (min-width: 768px) {
        display: inline-block;
    }
}
.nav-primary__menu--visible{

    border-top: 1px solid $grey-color-light;
}
.nav-primary__page-link{
    display: inline-block;
    width: 100%;

    border-bottom: 1px solid lighten($grey-color, 30%);
    text-align: center;

    @media (min-width: 768px) {
        width: auto;
        border-bottom: none;
        text-align: right;
        padding: 0.25em 0 0.25em 1em
    }
}
.nav-primary__page-link:hover {

    @media (min-width: 768px) {
        text-decoration: underline;
    }
}


// Site Footer
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: $grey-color-light;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }
}
.site-footer__wrapper{
    
    color: $grey-color;
    @media (min-width: 768px) {
        font-size: 0.8em;
        display: flex;
    }
}
.footer-heading {
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
footer p{
    margin-bottom: 0;
}
.site-footer__info{
    margin-bottom: $spacing-unit / 2;

    @media (min-width: 768px) {
        width: 80%;
    }
}
.site-footer__contact {

    @media (min-width: 768px) {
        width: 20%;
    }
}



// Page Content
.page-wrapper {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;

    @media (min-width: 768px) {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
    }
}
.page-content {
    margin-top: $spacing-unit * 1.5;
}

.page, .post {
    padding-top: $spacing-unit / 2;
}



// Post Content
.post{
    margin-bottom: $spacing-unit;
}
.post-content section > *, .post-header, .page p, .post-nav{
    max-width: 40rem;
    margin: 0 $spacing-unit / 2 $spacing-unit / 4 $spacing-unit / 2;
    
    @media (min-width: 768px) { 
    margin: 0 auto $spacing-unit / 2 auto;
    }
}
.page p{
    margin: 0 0 $spacing-unit / 2 0;
}
.post-content img{
    display: block;
    margin: $spacing-unit auto $spacing-unit / 4 auto;
}
.post-content__image--full-size{
    margin-right: $spacing-unit / 2;
    margin-left: $spacing-unit / 2;
}
.post-content__image--full-size > h2, .post-content__image--full-size > h3, .post-content__image--full-size > p{
    margin-right: 0;
    margin-left: 0;

    @media (min-width: 768px) {
    max-width: 40rem;
    margin: 0 auto $spacing-unit / 2 auto;
    }
}
// Post Sections
.post section{
    height: 100%;
    padding-top: $spacing-unit / 2;
}
// Layout Helpers
// .post section:nth-child(2n){ background: #122953;}
// .post section:nth-child(3n){ background: #CDB48C;}
// .post section:nth-child(4n){ background: #676766;}
// .post section:nth-child(5n){ background: #AF8088;}
// .post section:nth-child(6n){ background: #FAFAFA;}

.post section h2:first-child, .post section h3:first-child, .post section p:first-child, .post section img:first-child{
    margin-top: 0;
    padding-top: $spacing-unit * 0.5;
    @media (min-width: 768px) {
        padding-top: $spacing-unit * 1.5;
    }
}
.post section p:last-child, .post section img:last-child:last-child {
    padding-bottom: $spacing-unit;
    @media (min-width: 768px) {
        padding-bottom: $spacing-unit * 2;
    }
}
.post section.post-header__wrapper{
    background: $grey-color-light;
    background-size: cover !important;
    padding-top: 0;
}
.post-header{
    padding: $spacing-unit * 2 0;
    margin-bottom: 0;
    font-family: $secondary-font-family;
    text-align: center;

    @media (min-width: 768px) {
        padding: $spacing-unit * 5 0;
    }
}
.post-content img{
    max-width: 100%;
    height: auto;
}
.post-content .caption {
    margin-bottom: $spacing-unit / 2;
}
.post-title, .post-meta, .post-header__client{
    margin-bottom: 0;
}
.post-meta, .post-header__client{
    font-family: $base-font-family;
}
.post-header__client{
    color: inherit;
}
.post-header__info--client{
    font-style: italic;
}
.post-title{
    padding-top: 0;
    font-size: 3.5em;
    line-height: 1;
    font-weight: 300;
    margin-bottom: $spacing-unit;
}
.post-meta{
    font-style: italic;
}

// Post Section Colors
.grey--light{background-color: #EEE;}


// Project Posts
.post-content--project h2:first-child, .post-content--project h3 {

    font-family: $secondary-font-family;
    color: $red;
}
// Post Nav
.post-nav__seq {
    color: $grey-color;
}
.post-nav__seq a{
    transition: color 0.2s ease;
}
.post-nav__seq a:hover {

    @media (min-width: 768px) {
    color: $text-color;
    }
}
.post-nav__link, .post-nav__archive{
    display: inline-block;
    padding: $spacing-unit / 2 0;
    float: left;
    width: 10%;
}
.post-nav__link--next{
    text-align: right;
}
.post-nav__link--inactive {
    color: #EEE;
}
.post-nav__archive {
    display: flex;
    line-height: $spacing-unit * 1.25;
    width: 80%;
    font-style: italic;
    text-align: center;
}
.post-nav--project__link {
    text-align: center;
    display: inline-block;
    width: auto;
    margin: 0 auto;
}



// Pages
.page-content--body h2, .page--home__label, .section--home__header, .page-header--work, .home-links__label {
    font-family: $secondary-font-family;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;

    color: $blue
}
.page--home__label, .home-links__label {
    display: inline-block;
    margin-bottom: $spacing-unit / 2;
}



// Homepage

.section--home--fullwidth{
    padding-top: $spacing-unit * 2;
    clear: both;
}
.work-previews--homepage, .page--work__previews {
    margin-bottom: $spacing-unit;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.project-preview, .page--work__post-preview {
    @media (min-width: 768px) {
        width: 25%;
    }
}
.project-preview{
    position: relative;
    background: #CBDEDF;
}
.project-preview__info{
    display: none;
    position: absolute;
    top: 0;
    width: 90%;
    line-height: 1;
    margin: 10% 5% 5% 5%;
    text-align: center;
    transition: display 0.2s ease;
}
.project-preview__title {
    font-family: $secondary-font-family;
    margin-bottom: $spacing-unit / 2;
}
p.project-preview__tags, p.project-preview__client {
    margin-bottom: $spacing-unit / 5;
    font-size: 0.8em;
}
.project-preview__tags{
    color: darken($grey-color, 5%);
    font-style: italic;
}
.project__tags{
    font-size: 0.8em;
    font-weight: 300;
    font-style: italic;
    color: inherit;
}
.project-preview:hover .project-preview__info{
    
    @media (min-width: 768px) {
        display: block;
    }
}
.project-preview img{
    transition: opacity 0.2s ease;
}
.project-preview:hover img{

    @media (min-width: 768px) {
    opacity: 0.1;
    }
}
.home-links__wrapper {
    margin-right: $spacing-unit / 1.75;
    float: left;

    @media (min-width: 768px) {
        margin-right: $spacing-unit;
    }
}
span.home-links__link {
    display: inline-block;
}
p.home-links__link, span.home-links__link {
    font-family: $secondary-font-family;
    font-size: 0.8em;
    margin-bottom: 0;
}
.home-links__item p:last-child{
    margin-bottom: $spacing-unit / 3;
}
.page--home__header {
    @media (min-width: 960px) {
    display: flex;
    }
}
.page--home__description{
    margin-bottom: $spacing-unit;

    @media (min-width: 960px) {
    width: 50%;
    margin-right: 6%;

    font-size: 100%;
    }
}
.page--home__description p {
    font-size: 100%;
    vertical-align: baseline;

    @media (min-width: 768px) {
    font-size: 125%;
}
}
.page--home__links {
    display: flex;
    @media (min-width: 768px) {
        margin-right: $spacing-unit;
        float: left;
    }
    @media (min-width: 960px) {
        display: block;
        width: 22%;
        line-height: 1.5;
    }
}
.page--home__links__contact {

    @media (min-width: 960px) {
        width: 22%;
    }
}
.page--home__contact-link{
    display: inline-block;
    padding: $spacing-unit / 5 $spacing-unit / 2;

    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid $blue;

    @media (min-width: 768px) {
    margin-top: $spacing-unit / 2;
    }
}
.page--home__description a, .home-links__list a{
    transition: background 0.2s ease;
}
.page--home__description a:hover, .home-links__list a:hover{
    
    @media (min-width: 768px) {
    background: #E9F5FA;
    }
}
