---
layout: sections
---

<div class="post post--project">

  <article class="post-content post-content--project">
    {{ content }}
  </article>

  <div class="wrapper post-nav post-nav--project">
	<div class="post-nav__seq">
		{% if page.previous %} 
		<a class="post-nav__link post-nav__link--prev" href="{{ page.previous.url }}"><i class="fa fa-angle-left fa-2x"></i></a>
		{% else %}
		<span class="post-nav__link post-nav__link--inactive"><i class="fa fa-angle-left fa-2x"></i></span>
		{% endif %}
		<div class="post-nav__archive">
	  	<a class="post-nav--project__link" href="{{ site.baseurl }}/#work">More Projects</a>
		</div>
		{% if page.next %} 
		<a class="post-nav__link post-nav__link--next" href="{{ page.next.url }}"><i class="fa fa-angle-right fa-2x"></i></a>
		{% else %}
		<span class="post-nav__link post-nav__link--inactive"><i class="fa fa-angle-right fa-2x"></i></span>
		{% endif %}
	</div>
	
  </div>

</div>
